<div class="about-banner">
  <h1>About us</h1>
</div>

<div class="about-container">
  <div class="row justify-content-center">
  </div>
  <div class="links">
    <%= link_to "Home", root_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

