<div class="home-banner">
  <h1>Meet our team</h1>

<div class="container">
  <div class="row justify-content-center">
    <form action="/contact" method="get">
      <input type="text" name="member" value="<%= params[:member] %>"
      placeholder="Search">
      <input type="submit">
    </form>

      <ol>
        <% @members.each do |member| %>
          <li><%= member.capitalize %></li>
        <% end %>
    </ol>
  </div>
    <%= link_to "Home", root_path, class: "btn btn-outline-primary" %>
</div>
</div>

