<div class="home-banner">
  <h1>My Homepage</h1>
  <p>The time is <%= Time.now %><p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
  <div class="links">
    <%= link_to "Know more about us", about_path, class: "btn btn-outline-primary" %>
    <%= link_to "Meet our team", contact_path, class: "btn btn-outline-primary" %>
  </div>
</div>

